@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Koh+Santepheap&family=Montserrat:wght@500&family=Quicksand:wght@500&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  text-align: center;
  font-weight: 400;
  color: #fff;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75px;
  font-family: 'Montserrat', sans-serif;
  padding: 5px 0;
}

div.inputHolder {
  margin: 20px 0;
}

.mainWrapper {
  padding: 0 10px;
}

.mainContent {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.inputHolder {
  padding: 0 10px;
  display: flex;

  input[type='text'] {
    max-width: 400px;
    width: 100%;
    padding: 8px 14px;
    font-size: 16px;
    border-radius: 0;
    display: inline-block;
    border: 2px solid rgb(116, 116, 116);
    border-radius: 20px;
    outline: none;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
  }

  ::placeholder {
    font-family: 'Quicksand', sans-serif;
  }

  .uploadInput {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
  }

  .or {
    align-items: center;
    display: inline-flex;
    padding: 0 20px;
    font-weight: bold;
  }

  .uploadImage {
    padding: 8px 16px;
    font-size: 16px;
    background: #333;
    color: #fff;
    display: inline-block;
    border: 0;
    border-radius: 0;
    cursor: pointer;
    outline: none;
    font-family: 'Quicksand', sans-serif;
  }
}

.imageHolder {
  width: 60%;
  display: block;
  flex: 0 0 60%;
  max-width: 900px;
  height: 70vmin;

  @media (max-width: 800px) {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  &:empty {
    display: none;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

.resultsHolder {
  padding: 30px;

  @media (max-width: 800px) {
    width: 100%;
    padding: 0;
  }

  .result {
    border: 1px solid #333;
    margin: 0 0 10px;
    padding: 10px;

    &:first-of-type {
      border-color: #333;
      background-color: #333;

      .name {
        color: #fff;
      }
      .confidence {
        color: #dfdfdf;
      }
    }

    .name {
      font-size: 20px;
      font-weight: 600;
      text-transform: uppercase;
    }

    .confidence {
      display: block;
      font-weight: 300;

      .bestGuess {
        background: #fff;
        padding: 2px 6px;
        color: #333;
        margin-left: 3px;
      }
    }
  }
}

.button {
  padding: 8px 20px;
  font-size: 18px;
  border: 0;
  outline: none;
  border: 2px solid #000;
  color: rgb(0, 0, 0);
  background-color: #fff;
  display: inline-block;
  border-radius: 2px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
}

.recentPredictions {
  margin: 40px 0 0;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f27121,
    #e94057,
    #8a2387
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;

  h2 {
    color: rgb(252, 252, 252);
    font-size: 26px;
    font-family: 'Koh Santepheap', cursive;
    margin: 10px 0;
  }

  .recentImages {
    display: flex;
    flex-wrap: wrap;
  }

  .recentPrediction {
    flex: 0 0 23.7%;
    margin: 10px 10px;
    border-radius: 20px;
    cursor: pointer;

    @media (max-width: 1100px) {
      flex: 0 0 25%;
    }

    @media (max-width: 870px) {
      flex: 0 0 33.3%;
    }

    @media (max-width: 700px) {
      flex: 0 0 50%;
    }

    img {
      display: block;
      width: 100%;
      height: 200px;
      border-radius: 10px;
      object-fit: cover;

      @media (max-width: 700px) {
        height: 260px;
      }
    }
  }
}
